*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    background: #fafafa; }
.content-wrap {
    background: #fff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .05); }
p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 1em;
    color: #141415; }
ul {
    padding: 0;
    margin: 0; }
h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    margin: 0 0 .5em; }
section {
    padding: 150px 0 180px;
    background-size: cover !important; }
section.flex-wrap {
    padding: 70px 0; }
header {
    overflow: hidden;
    position: relative;
    display: block; }
    .header-left {
        float: left; }
    .header-right {
        float: right; }
    header nav {
        background: #FFF;
        position: absolute;
        width: 100%;
        box-shadow: 0 5px 14.25px .75px rgba(0, 0, 0, 0.04);
        z-index: 9999; }
    header nav .wrap {
        overflow: visible;
        display: table; }
        header ul {
            font-size: 0; }
        header ul li {
            display: inline-block; }
            header ul li a {
                display: block;
                color: #38383A;
                line-height: 80px;
                padding: 0 15px;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: .2em; }
            header .header-right ul li a {
                z-index: 1;
                text-align: center;
                padding-right: 0; }
            header .header-right ul li a span {
                color: #FFF;
                padding: .8em 1.5em;
                display: inline;
                background: #00a6eb; }
            header ul li a.logo img {
                vertical-align: middle; }
#Slider {
    margin: auto;
    height: 100vh;
    width: 100%;
    max-height: 800px;
    max-width: 1366px; }
    #Slider .slider-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%; }
        #Slider .slider-bg {
            background: url('img/slider-bg.jpg') center no-repeat;
            background-size: cover; }
    #Slider .slider-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; }
        #Slider .slider-content .wrap {
            overflow: visible;
            display: table; }
        #Slider h1 {
            font-size: 48px;
            line-height: 48px;
            color: #00a6eb;
            opacity: .9; }
        #Slider .slider-content p {
            opacity: .7; }
footer {
    background: url('img/bg-footer.jpg') center bottom no-repeat;
    background-size: cover; }
    footer p a {
        opacity: .5;
        color: #141415; }
        footer ul {
            padding: 0;
            margin: 0;
            list-style: none; }
        footer ul li.menu-head {
            font-size: 14px;
            font-weight: 900;
            color: #38383A;
            opacity: .8;
            letter-spacing: .1em;
            margin-bottom: 1em;
            text-transform: uppercase; }
            footer ul li a {
                font-size: 12px;
                color: #141415;
                font-weight: 300;
                line-height: 2em;
                text-transform: uppercase;
                letter-spacing: .1em; }
                footer img { margin-right: 10px; }
                footer .copyright {
                    font-size: 10px;
                    font-weight: 400;
                    opacity: .7;
                    letter-spacing: .1em;
                    margin: 1em 0 80px; }


.button-drop,
.button-drop .button-bg {
  -webkit-font-smoothing: antialiased;
  color: #38383A;
  background: #FFF;
  border: none;
  display: inline-block;
  font-size: 12px;
  line-height: 70px;
  font-weight: 400;
  letter-spacing: .2em;
  text-decoration: none;
  user-select: none;
  padding: 0 5em;
  box-shadow: 0px 20px 47.5px 2.5px rgba(0, 0, 0, 0.04);
  text-transform: uppercase; }

.button-drop {
  position: relative;
  background: none;
  margin-top: 2.5em;
  z-index: 0; }
  .button-drop .button__container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    pointer-events: none;
    z-index: -1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
  .button-drop .button-bg, .button-drop .circle {
    -webkit-animation: hue-rotate 10s linear infinite;
    -moz-animation: hue-rotate 10s linear infinite;
    animation: hue-rotate 10s linear infinite; }
  .button-drop .button-bg {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .button-drop .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #fff;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
    z-index: -1; }
    .button-drop .circle.top-left {
      top: 40%;
      left: 27%; }
    .button-drop .circle.bottom-right {
      bottom: 40%;
      right: 27%; }

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0); }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg); } }

@media screen and (max-width: 768px) {
    #Slider .slider-bg {
        background-position: 10% 0; }
    a.logo {
        text-align: center;
        display: table;
        width: 100%;
        padding: 1em 0; }
    header .wrap { width: 100%; }
    header nav ul li { display: block; }
    header .header-left,
    header .header-right { float: none; }
    header .header-right ul li a:before { transform: none; }
    .hamburger-menu {
        width: 30px;
        float: right;
        position: absolute;
        cursor: pointer;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        opacity: .7; }
}
