body {
    font-family: 'Open Sans', sans-serif; }
p {
    color: #141415; }
ul {
    padding: 0;
    margin: 0; }
header nav {
    background: #FFF;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08); }
    .header-left {
        float: left; }
    .header-right {
        float: right; }
    header ul li {
        display: inline-block; }
        header ul li a {
            display: block;
            color: #38383A;
            line-height: 80px;
            padding: 0 15px;
            font-size: 10px;
            text-transform: uppercase; }
            header ul li a.logo img {
                vertical-align: middle; }
#Slider h1 {
    font-size: 48px;
    line-height: 48px;
    color: #08619E;
    opacity: .9;
}
header ul {
    font-size: 0; }
header .header-right {
    padding-right: 40px; }
header .header-right ul li a {
    z-index: 1;
    color: #FFF;
    font-weight: 900;
    min-width: 9em;
    text-align: center;
    letter-spacing: .1em; }
header .header-right ul li a:before {
    content: '';
    position: absolute;
    background: #2481C0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: skewX(-45deg); }

header .header-right ul li:first-child a:before {
    background: #08619E; }
header .header-right ul li:last-child a:before {
    background: #A7A7A7; }
