*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    background: #fafafa; }
.content-wrap {
    /*box-shadow: 0 0 20px 5px rgba(0, 0, 0, .05);*/
    background: #fff; }
p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 1em;
    color: #141415; }
ul {
    padding: 0;
    margin: 0; }
h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    margin: 0 0 .5em; }
section {
    padding: 150px 0 180px;
    background-size: cover; }
section.flex-wrap {
    padding: 70px 0; }
header {
    overflow: hidden;
    position: relative;
    display: block; }
    .header-left {
        float: left; }
    .header-right {
        float: right; }
    header nav {
        background: #FFF;
        position: fixed;
        border-bottom: 1px solid #fbfbfb;
        width: 100%;
        z-index: 9999; }
    header nav .wrap {
        overflow: visible;
        display: table; }
        header ul {
            font-size: 0; }
        header ul li {
            display: inline-block; }
            header ul li a {
                display: block;
                color: #38383A;
                line-height: 80px;
                padding: 0 15px;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: .1em; }
            header .header-right ul li a {
                z-index: 1;
                padding-right: 0; }
            header .header-right ul li a span {
                color: #FFF;
                padding: .8em 1.5em;
                display: inline;
                background: #00a6eb; }
            header a.logo img {
                vertical-align: middle;
                height: 50px; }
#Slider {
    margin: auto;
    height: 100vh;
    width: 100%;
    max-height: 800px;
    max-width: 1366px; }
    #Slider .slider-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%; }
        #Slider .slider-bg {
            background: #FFFFFF linear-gradient(to right, #89ca70, #1da8eb, #f11370, #fb8a00);
            background-size: cover;
            opacity: .2; }
    #Slider .slider-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; }
        #Slider .slider-content .wrap {
            overflow: visible;
            display: flex;
            align-items: center; }
        #Slider img { padding-left: 100px; }
        #Slider h1 {
            font-size: 48px;
            line-height: 48px;
            color: #00a6eb;
            opacity: .9; }
        #Slider .slider-content p {
            opacity: .7; }
            #Slider .particles {
                height: 100%;
                width: 100%; }
                #Slider a {
                    -webkit-font-smoothing: antialiased;
                    color: #38383A;
                    background: #FFF;
                    border: none;
                    display: inline-block;
                    font-size: 12px;
                    line-height: 70px;
                    font-weight: 400;
                    text-transform: uppercase;
                    padding: 0 5em;
                    margin: 1em 0 0;
                    letter-spacing: .2em;
                    text-decoration: none;
                    user-select: none;
                    transition: all 1s ease;
                    box-shadow: 0 40px 120px rgba(0,0,0,0.15); }
                    #Slider a:hover {
                        box-shadow: 0 0 0 rgba(0,0,0,0); }
/*            #Slider .particle-1 {
                width: 25%;
                height: auto;
                position: absolute;
                bottom: -100px;
                left: -100px;
                animation: slide_UR 2s ease-in-out alternate infinite; }
                @keyframes slide_UR { to { transform: translate(80px, -80px); } }
            #Slider .particle-1:hover svg {
                transform: translate(-10px -10px); }
            #Slider .particle-1 svg path {
                box-shadow: 0 0 20px 0 rgba(0,0,0,.15); }
            #Slider svg {
                width: 100%;
                height: 100%; }*/
footer {
    margin: auto;
    max-width: 1366px;
    background: #FFF url('img/bg-footer.png') right bottom no-repeat; }
    footer p a {
        opacity: .5;
        color: #141415; }
        footer ul {
            padding: 0;
            margin: 0;
            list-style: none; }
        footer ul li.menu-head {
            font-size: 14px;
            font-weight: 900;
            color: #38383A;
            opacity: .8;
            letter-spacing: .1em;
            margin-bottom: 1em;
            text-transform: uppercase; }
            footer ul li a {
                font-size: 12px;
                color: #141415;
                font-weight: 300;
                line-height: 2em;
                text-transform: uppercase;
                letter-spacing: .1em; }
                footer img { margin-right: 10px; }
                footer .copyright {
                    font-size: 10px;
                    font-weight: 400;
                    opacity: .7;
                    letter-spacing: .1em;
                    margin: 1em 0 80px; }


.button-drop,
.button-drop .button-bg {
  -webkit-font-smoothing: antialiased;
  color: #38383A;
  background: #FFF;
  border: none;
  display: inline-block;
  font-size: 12px;
  line-height: 70px;
  font-weight: 400;
  letter-spacing: .2em;
  text-decoration: none;
  user-select: none;
  padding: 0 5em;
  box-shadow: 0px 20px 47.5px 2.5px rgba(0, 0, 0, 0.04);
  text-transform: uppercase; }

.button-drop {
  position: relative;
  background: none;
  margin-top: 2.5em;
  z-index: 0; }
  .button-drop .button__container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    pointer-events: none;
    z-index: -1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
  .button-drop .button-bg, .button-drop .circle {
    -webkit-animation: hue-rotate 10s linear infinite;
    -moz-animation: hue-rotate 10s linear infinite;
    animation: hue-rotate 10s linear infinite; }
  .button-drop .button-bg {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .button-drop .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #fff;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
    z-index: -1; }
    .button-drop .circle.top-left {
      top: 40%;
      left: 27%; }
    .button-drop .circle.bottom-right {
      bottom: 40%;
      right: 27%; }

section#parallex-section {
    background-repeat: no-repeat;
    min-height: 300vh;
    padding: 0 0 100vh;
    background-size: contain !important;
    background-position: center 0% !important; }
section#parallex-section .wrap {
    min-height: 100vh;
    display: block;
    background-image: url('img/bg-1.jpg'); }
section#parallex-section.animate .wrap .first-cont,
section#parallex-section .wrap .second-cont {
    position: absolute;
    opacity: 0; }
section#parallex-section .wrap .first-cont,
section#parallex-section.animate .wrap .second-cont {
    position: relative;
    opacity: 1; }
section#parallex-section:not(.animate) .wrap .first-cont,
section#parallex-section.animate .wrap .second-cont {
    transition: opacity 1s ease; }
.sliding-screens {
    background: url('img/schedule-phone-wrap.png') center no-repeat;
    background-size: contain !important;
    display: inline-block;
    padding: 11% 3.5% 14%;
    position: relative; }
    .sliding-screens .screens-wrap {
        overflow: hidden; }
    .sliding-screens .screens-wrap div {
        transition: all .5s ease; }
    .sliding-screens div.second-screen {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(100%); }
    section.animate .sliding-screens div.first-screen {
        transform: translateX(-100%); }
    section.animate .sliding-screens div.second-screen {
        transform: translateX(0); }

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0); }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg); } }
.blop-1,
.blop-2,
.blop-3 {
    position: absolute;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.blop-1 {
    max-height: 100vw;
    max-width: 100vw;
    height: 600px;
    width: 600px;
    background: #fafafa;
}
.blop-2 {
    max-height: calc( 100vw - 50px );
    max-width: calc( 100vw - 50px );
    height: 500px;
    width: 500px;
    transition: all 1s ease;
    background: #fcfcfc; }
.blop-3 {
    max-height: calc( 100vw - 100px );
    max-width: calc( 100vw - 100px );
    height: 400px;
    width: 400px;
    transition: all 1s .2s ease;
    background: #ffffff; }
div.animate .blops .blop-2 {
    box-shadow: 0 19px 70px rgba( 0, 0, 0, .15 ); }
div.animate .blops .blop-3 {
    box-shadow: 0 19px 70px rgba( 0, 0, 0, .15 ); }

@media screen and (max-width: 768px) {
    h2 {
        font-size: 28px;
        line-height: 32px; }
    section#Adjust { background: #dcd5c3 url('img/bg-2-phone.jpg') center bottom no-repeat !important; background-size: contain !important; padding-bottom: 100%; }
    section#Control { background: #f7e7cd url('img/bg-3-phone.jpg') center bottom no-repeat !important; background-size: contain !important; padding-bottom: calc(100% + 60px); }
    section#Control * { color: #000; }
    section#Save { padding-top: 30px !important; background: url('img/bg-4-phone.jpg') center no-repeat !important; background-size: cover !important; }
    section p:last-child { margin-bottom: 30px !important; }
    section#Save p { margin-bottom: 100px !important; }
    #Slider img { display: none; }
    #Slider {
        min-height: 100vh;
        max-height: unset !important;
        padding: 200px 0 0;
        height: auto; }
    #Blops { display: none; }
    #Blops-R { transform: translateY(-50%); margin-bottom: -50%; }
    section { padding: 30px 0; }
    #parallex-section {
        display: none; }
    #Slider .slider-content .wrap {
        display: block; }
    #Slider .slider-content h1 {
        font-size: 28px;
        line-height: 28px;
        margin-top: 0; }
    #Slider .slider-content {
        padding-top: 35%; }
    #Slider .slider-bg {
        background: url(img/slider-bg.jpg) 80% center no-repeat;
        background-size: cover; }
    #Slider .slider-bg .particles {
        display: none; }
    a.logo {
        text-align: left;
        display: table;
        width: 100%;
        padding: 1em; }
    header .wrap { width: 100%; }
    header nav ul li { display: block; }
    header .header-left,
    header .header-right { float: none; }
    header .header-left ul li:last-child a { padding-bottom: 2em; }
    header .header-right ul li a:before { transform: none; }
    header nav div ul li a { font-size: 14px; line-height: 30px; display: block; }
    header .header-right ul li a span { display: inline-block; margin: 1em 0 2em; }
    .hamburger-menu {
        width: 30px;
        float: right;
        position: absolute;
        cursor: pointer;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        opacity: .7; }
    footer {
        background: #FFF; }
    .footer {
        background: url('img/bg-footer-phone.jpg') center !important;
        background-size: cover !important; }
    footer p a {
        margin-top: 1em;
        display: block; }
}
